<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### __Objectives:__
- List popular languages for Data Science
- List popular tools for Data Science
- List popular libraries for Data Science
- Perform arithmetic operations to multiply and add integers
- Perform arithmetic operations to Convert minutes to hours

## Author
Tanmay Singh

### Some of the popular languages that Data Scientists use are:
1. Python 
1. SQL 
1. R

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
1. Numpy
1. matplotlib
1. seaborne
1. ggplot2

### Data Science Tools

| Data Science Tools |
| --- |
| Jupyter Lab |
| R Studio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = 200/60
print(hours)

3.3333333333333335